<h1>Result</h1>
<p>You chose the word <strong><%= @attempt %></strong>.</p>
<p><% if !@array.all? %>
  This word can't be written with the letters <strong><%= @letters %></strong>.
<% else %>
  <% if @isword %>
    <strong>Great! You got it!</strong>
  <% else %>
    This isn't an English word.
  <% end %>
<% end %></p>
<%= link_to 'Try again', '/new' %>
