// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
li {
  color: white;
  padding: 12px;
  display: inline;
  background-color: blue;
  border-radius: 8px;
}

a {
  text-decoration: none;
  background-color: blue;
  color: white;
  padding: 12px;
  border-radius: 8px;
}
